<% @posts_p.each do |post| %>
  <tr>
    <td width="5%"><%= image_tag post.main_image.thumb %></td>
    <td><%= link_to post.title, post %></td>
    <td><%= truncate(post.body, length: 50) %></td>
    <td><%= post.user.full_name %></td>
    <td><%= post.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>